.address-card {
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    text-align: center;
}


h2 {
text-align: center;
}

#wrapper {
    width: 600px;
    overflow: hidden;
}

    #wrapper input {
        display: inline-block;
        padding: 0 16px;
        margin-bottom: 10px;
        width: auto;
        height: 25px;
    }

#personal {
    float: left;
    width: 50%;
}

#address {
    overflow: hidden;
    float: right;
}

b {
    text-align: center;
    float: left;
    padding-left: 35px;
}
#checkbox{
    position: absolute;
    margin-right:35%;
    margin-top:18%;
}


#btnCart {
    position: absolute;
    margin-right:35%;
    margin-top:22%;
    width: 15%;
    height: 30px;
    border: 1px solid #bf9000;
    background: #bf9000;
    text-align: center;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
}
