#grid-container {
    display: grid;
    grid-template-columns: auto;
    background: white;
    width: 55%;
    margin: auto;
    min-height: 375px;
    height: auto;
    margin-top: 15px;
    padding-top: 15px;
    margin-bottom: 15px;
}

#grid-container input{
    margin-top: 3px;
    margin-bottom: 9px;
}

#title {
    font-weight: 100;
    text-align: center;
    font-size: 35px;
    margin-bottom: 20px;
}

.grid-sub-container {
    display: grid;
    grid-template-columns: auto auto;
}

.BoxNameInfo {
    width: 29%;
    float: left;
    height: auto;
    margin-left: 20%;
    margin-right: 10%;
    display: inline-block;
}

.BoxAdressInfo {
    width: 34%;
    float: right;
    height: auto;
    margin-right: -10%;
    display: inline-block;
}

.subtitle {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

#btnContinue {
    display: inline-block;
    text-align: center;
    background-color: #8a3366;
    color: white;
    padding: 8px 15px;
    border-radius: 6px;
    text-decoration: none;
    width: 155px;
    border-style: none;
    float: right;
    margin-top: 15px;
    margin-bottom: 15px;
}

    #btnContinue:hover {
        background-color: #65254A;
        color: white;
        cursor: pointer;
    }

#info-card label {
    font-weight: 700;
}