#container {
    width: 100%;
    height: 100%;
}

#results {
    background: white;
    width: 60%;
    margin: auto;
    min-height: 200px;
    height: auto;
    margin-top: 15px;
    padding-top: 15px;
}

#title {
    font-weight: 100;
    text-align: center;
    font-size: 35px;
    margin-bottom: 10px;
}

table{
    border-collapse: collapse;
    margin-top: 20px;
}

    table th {
        /*text-align: center;*/
        background-color: #993366;
        color: #FFF;
        padding: 4px 50px 4px 8px;
    }

    table td {
        border: 1px solid #e3e3e3;
        padding: 4px 8px; 
    }

    table tr:nth-child(odd) td {
        background-color:#e7edf0;
    }
table a {
    color: #8a3366;
    font-weight: 600;
    text-decoration: none;
}
    table a:hover {
        text-decoration: underline;
        color: #65254A;
    }