/*Boxes*/
#container {
    width: 100%;
    height: 100%;
}

#orderBox {
    background: white;
    float: right;
    height: 190px;
    width: 25%;
    margin-right: 15px;
    margin-top: 15px;
    text-align: center;
}

#result {
    background: white;
    float: left;
    height: auto;
    width: 70%;
    margin-top: 15px;
    margin-left: 15px;
}

#moreInfo {
    background: white;
    float: left;
    min-height: 165px;
    height: auto;
    width: 70%;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 15px;
}

/*Onderdelen in de result box*/
#title {
    display: inline-block;
    margin-top: 15px;
    font-weight: bold;
    font-size: 20px;
    width: 75%;
}

#author {
    display: block;
    font-size: 15px;
    font-weight: bold;
    color: #8a3366;
}

#summary {
    display: inline-block;
    margin-top: 15px;
    width: 70%;
}

#readMore {
    display: inline-block;
    float: right;
    text-decoration: none;
    display: block;
    font-size: 15px;
    font-weight: bold;
    color: #8a3366;
    margin-right: 100px;
    margin-bottom: 15px;
}

#productImg {
    float: left;
    margin-right: 15px;
    margin-left: 15px;
    margin-top: 15px;
    margin-bottom: 20px;
    width: 150px;
    height: 200px;
}

/*Onderdelen orderBox*/
#btnCart {
    display: inline-block;
    margin: auto;
    background-color: #bf9000;
    border: none;
    color: white;
    padding: 10px 15px;
    border-radius: 6px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    text-decoration: none;
    width: 80%;
    cursor: pointer;
}
    #btnCart:hover {
        background-color: #977200;
        cursor: pointer;
    }

#btnWishList {
    display: inline-block;
    margin: auto;
    background-color: white;
    border: #8a3366 2px solid;
    color: #8a3366;
    padding: 10px 15px;
    border-radius: 6px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    text-decoration: none;
    width: 80%;
    cursor: pointer;
}

    #btnWishList:hover {
        background-color: #8a3366;
        color: white;
        cursor: pointer;
    }

#price {
    color: #8a3366;
    float: left;
    margin-left: 15px;
    margin-top: 20px;
    font-size: 25px;
    margin-bottom: 25px;
}

/*Onderdelen input moreInfo box*/
#miTitle {
    display: inline-block;
    margin-top: 10px;
    font-weight: bold;
    font-size: 20px;
    width: 75%;
    margin-left: 15px;
    color: #8a3366;
}

#miLabel {
    display: block;
    font-size: 15px;
    margin-top: 5px;
    margin-left: 15px;
}

#rating {
    width: 110px;
}
