/*Boxes*/
#container {
    width: 100%;
    height: 100%;
}

#orderBox {
    background: white;
    float: right;
    height: 190px;
    width: 25%;
    margin-right: 15px;
    margin-top: 15px;
    text-align: center;
}

#result {
    background: white;
    float: left;
    min-height: 300px;
    height: auto;
    width: 70%;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 15px;
}

/*Onderdelen in de result box*/
#title {
    display: inline-block;
    margin-top: 15px;
    font-weight: bold;
    font-size: 20px;
    width: 75%;
}

#author_date {
    display: block;
}

#summary {
    display: inline-block;
    margin-top: 15px;
    display: block;
    width: 95%;
    margin-left: 20px;
    margin-bottom: 25px;
}

#productImg {
    float: left;
    margin-right: 15px;
    margin-left:15px;
    margin-top:15px;
    width: 150px;
    height: 200px;
}

#rating {
    width: 110px;
}

/*Onderdelen orderBox*/
#btnCart {
    margin: auto;
    width: 90%;
    display: inline-block;
    background-color: #bf9000;
    border: none;
    color: white;
    padding: 10px 30px;
    border-radius: 6px;
}

#btnWishList {
    margin: auto;
    width: 90%;
    display: inline-block;
    background-color: #bf9000;
    border: none;
    color: white;
    padding: 10px 30px;
    border-radius: 6px;
    margin-bottom: 10px;
}

#price {
    color: #8a3366;
    float: left;
    margin-left: 15px;
    margin-top: 20px;
    font-size: 25px;
    margin-bottom: 25px;
}