@import url(https://fonts.googleapis.com/css?family=Roboto:400,100);


.ResetPassword-card {
    padding-top: 15px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    width: 274px;
    background: white;
    margin: 65px auto 10px;
    border-radius: 2px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    overflow: hidden;
}

.ResetPassword-card h2 {
    font-weight: 100;
    text-align: center;
    font-size: 2.3em;
}

    .ResetPassword-card h4 {
        font-weight: 100;
        text-align: center;
        font-size: 1.5em;
    }

.ResetPassword-card input[type=submit] {
    width: 100%;
    display: block;
    margin-bottom: 10px;
    position: relative;
}

.ResetPassword-card input[type=text], input[type=password] {
    height: 44px;
    font-size: 16px;
    width: 100%;
    margin-bottom: 10px;
    background: #fff;
    border: 1px solid #d9d9d9;
    border-top: 1px solid #c0c0c0;
    padding: 0 8px;
    box-sizing: border-box;
}

.ResetPassword-card input[type=text]:hover, input[type=password]:hover {
    border: 1px solid #b9b9b9;
    border-top: 1px solid #a0a0a0;
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}

.btn {
    background-color: #8a3366;
    border: none;
    color: white;
    padding: 10px 30px;
    border-radius: 8px;
    margin-top: 5px;
    margin-bottom: 15px;
    width: 90%;
}

    .btn:hover {
        background-color: #65254A;
        cursor: pointer;
    }



