#container {
    width: 100%;
    height: 100%;
}

#topCategories {
    background: white;
    float: left;
    height: 190px;
    width: 16%;
    margin-left: 15px;
    margin-top: 15px;
    text-align: center;
}

#results {
    background: white;
    float: right;
    min-height: 540.5px;
    height: auto;
    width: 80%;
    margin-right: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
}

#filters {
    background: white;
    text-align: center;
    float: left;
    height: auto;
    width: 16%;
    margin-left: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
}

#txtSearchTitle {
    font-weight: 700;
    color: #8a3366;
    font-size: 20px;
    margin-top: 10px;
    display: block;
}

#txtResultsTitle {
    font-weight: 700;
    color: #8a3366;
    font-size: 20px;
    margin-top: 10px;
    display: inline-block;
    margin-left: 25px;
}

/*#btnOrderBy {
    float: right;
    margin-top: 10px;
    margin-right: 25px
}*/

/*#txtTC {
    color: black;
    font-size: 16px;
    margin-top: 10px;
    display: block;
    margin-top: 15px;
    text-decoration: none;
}

    #txtTC:hover {
        color: #8a3366;
        cursor: pointer;
    }*/

#filters label {
    float: left;
    margin-left: 10px;
    margin-top: 15px;
}

#priceFilter {
    margin-top: 17px;
    color: black;
}

/*#ratingFilter {
    margin-top: 3px;
    width: 90%;
    color: black;
}*/
.dropdownFilters {
    width: 90%;
    color: black;
    margin-top: 3px;
}

#Pagination {
    width: 90%;
    color: black;
    margin-top: 3px;
}

#minPrice {
    width: 40%;
    float: left;
    margin-left: 10px;
    font-size: 15px;
    color: black;
}

#maxPrice {
    width: 40%;
    float: right;
    margin-right: 10px;
    font-size: 15px;
    color: black;
}

#btnSaveFilters {
    background-color: #bf9000;
    border: none;
    color: white;
    padding: 10px 30px;
    border-radius: 8px;
    margin-top: 20px;
    margin-bottom: 15px;
    width: 90%;
}

    #btnSaveFilters:hover {
        background-color: #977200;
        cursor: pointer;
    }
    

#product {
    margin: 15px;
}

#title {
    display: inline-block;
    margin-top: 6px;
    font-weight: bold;
    font-size: 18px;
    width: 75%;
    text-decoration: none;
    color: black;
}

#author {
    display: block;
}

#summary {
    margin-top: 15px;
    display: block;
    width: 700px;
}

#productImg {
    float: left;
    margin-right: 15px;
    width: 113px;
    height: 173px;
}

#rating {
    width: 110px;
}

#moreInfo {
    color: #8a3366;
    font-weight: 600;
    display: block;
    margin-top: 20px;
    display: inline-block;
    text-decoration: none;
}

    #moreInfo:hover{
        text-decoration: underline;
    }

#btnCart {
    float: right;
    margin-top: 10px;
    display: inline-block;
    margin-right: 15px;
    background-color: #bf9000;
    border: none;
    color: white;
    padding: 10px 30px;
    border-radius: 6px;
    text-decoration: none;
}

    #btnCart:hover {
        background-color: #977200;
        cursor: pointer;
    }

#btnWishList {
    float: right;
    margin-top: 10px;
    display: inline-block;
    margin-right: 15px;
    background-color: white;
    border: #8a3366 2px solid;
    color: #8a3366;
    padding: 8px 15px;
    border-radius: 6px;
    text-decoration: none;
}

    #btnWishList:hover {
        background-color: #8a3366;
        color: white;
        cursor:pointer;
    }

#price {
    float: right;
    margin-right: 25px;
    margin-top: 10px;
    font-size: 20px;
}

#stripe {
    width: 100%;
    height: 2px;
}


#filtersTop {
    background: #993366;
    margin-top: 10px;
    margin-left: 15px;
    margin-right: 15px;
    padding: 15px;
}

#btnSaveFiltersTop {
    float: right;
    background-color: white;
    color: #bf9000;
    padding: 7px 20px;
    border-radius: 4px;
}
/* Scherm kleiner dan 1100px */
@media only screen and (max-width: 1100px) {
    #topCategories {
        display: none;
    }

    #filters {
        display: none;
    }

    #results {
        width: 100%;
        display: block;
        margin-left: 15px;
    }
}
/* Scherm groter dan 1100px */
@media only screen and (min-width: 1100px) {

    #filtersTop {
        display: none;
    }
}

/* Scherm kleiner dan 750px */
@media only screen and (max-width: 750px) {
    #summary {
        display: none;
    }

    #price {
        display: none;
    }

    #rating {
        display: block;
    }

    #priceSmall {
        display: block;
        margin-top: 15px;
    }

    #btnWishList {
        display: block;
        margin-bottom: 40px;
        padding: 5px 8px;
    }

    #btnCart {
        display: block;
        margin-bottom: 10px;
        padding: 5px 8px;
    }

    #moreInfo {
        display: none;
    }

    #moreInfoSmall {
        margin-right: 100px;
        color: #8a3366;
        font-weight: 600;
        display: block;
        margin-top: 55px;
    }

    #priceFilterTop {
        display: inline-block;
        width: 130px;
    }

    #priceTop {
        width: 40px;
        font-size: 16px
    }

    #filterTopTitle {
        margin-right: 94px;
        color: white;
    }

    #filterTopSelect {
        width: 80px;
    }

    /* Scherm groter dan 750px */
}

@media only screen and (min-width: 750px) {
    #priceSmall {
        display: none;
    }

    #moreInfoSmall {
        display: none;
    }

    #priceFilterTop {
        display: inline-block;
        width: 250px;
    }

    #priceTop {
        width: 80px;
        font-size: 17px
    }

    #filterTopTitle {
        margin-right: 212px;
        color: white;
    }

    #filterTopSelect {
        width: 270px;
    }
}
