#container {
    width: 100%;
    height: 100%;
}

#results {
    background: white;
    min-height: 200px;
    height: auto;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
}

#checkout {
    background: white;
    height: auto;
    min-height: 150px;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
}

#product {
    margin: 15px;
}

#title {
    display: inline-block;
    margin-top: 6px;
    margin-left:15px;
    font-weight: bold;
    font-size: 18px;
    width: 75%;
    text-decoration: none;
    color: black;
}

    #title:hover {
        text-decoration: underline;
        cursor: pointer;
    }

#author {
    display: inline-block;
    margin-left: 15px;
}

#productImg {
    float: left;
    margin-right: 15px;
    margin-left:15px;
    width: 113px;
    height: 173px;
}

#price {
    font-size: 17px;
    display: inline-block;
    margin-left: 15px;
}

#priceBookTotal {
    float: right;
    margin-right: 7%;
    margin-top: 20px;
    font-size: 17px;
}

#stripe {
    width: 100%;
    height: 2px;
    margin-bottom: 5px;
}

#deleteButton {
    color: #bf9000;
    text-decoration: none;
    font-size: 15px;
    margin-left: 630px;
    margin-top: 10px;
    font-weight: bold;
}

    #deleteButton:hover {
        text-decoration: underline;
    }

#FavoButton {
    color: #8a3366;
    text-decoration: none;
    font-size: 15px;
    margin-left: 630px;
    margin-top: 30px;
    font-weight: bold;
}

    #FavoButton:hover {
        text-decoration: underline;
    }

#payment {
    display: inline-block;
    margin-top: 6px;
    margin-left: 30px;
    font-weight: bold;
    font-size: 18px;
    /*width: 75%;*/
    text-decoration: none;
    color: #8a3366;
}

#totalBox {
    display: inline-block;
    width: 120px;
    height: 75px;
}

#priceBox {
    display: inline-block;
    width: 50px;
    height: 75px;
    margin-left: 5%;
    float: right;
}

#delivery {
    color: black;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;

}

#deliveryPrice {
    font-size: 17px;
}

#total {
    color: black;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
}

#totalPrice {
    font-size: 17px;
}

#amountBox {
    margin-left: 785px;
    margin-top: -30px;
}

#minButton {
    width: 40px;
    height: 30px;
    border: 1px solid #bf9000;
    background: #bf9000;
    text-align: center;
    color: #fff;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    cursor: pointer;
    font-size: 20px;
    margin-top: 7px;
    padding-left: 10px;
    padding-right: 7px;
    padding-top: 1px;
    padding-bottom: 1px;
    text-decoration: none;
    margin-right: -4px;
}

#plusButton {
    width: 40px;
    height: 30px;
    border: 1px solid #bf9000;
    background: #bf9000;
    text-align: center;
    color: #fff;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    cursor: pointer;
    font-size: 20px;
    margin-top: 7px;
    padding-left: 7px;
    padding-right: 10px;
    padding-top: 1px;
    padding-bottom: 1px;
    text-decoration: none;
    margin-left: -5px;
}


#amount {
    width: 40px;
    height: 30px;
    border: 2px solid #bf9000;
    background: #fff;
    text-align: center;
    color: #bf9000;
    font-size: 20px;
    margin-top: 7px;
    padding-left: 9px;
    padding-right: 9px;
    text-decoration: none;
}

#checkOutBox {
    float: right;
    display: inline-block;
    width: 190px;
    height: auto;
    margin-top: 15px;
    margin-right: 7%;
}

#btnCheckOut {
    display: inline-block;
    text-align: center;
    background-color: #8a3366;
    color: white;
    padding: 8px 15px;
    border-radius: 6px;
    text-decoration: none;
    width: 155px;
}

    #btnCheckOut:hover {
        background-color: #65254A;
        color: white;
        cursor: pointer;
    }

#txtTitle {
    font-weight: 700;
    color: #8a3366;
    font-size: 20px;
    margin-top: 10px;
    display: inline-block;
    margin-left: 25px;
}

#txtEmpty {
    color: #8a3366;
    font-size: 20px;
    margin-top: 40px;
    margin-left: 43%;
    display: inline-block;
    text-decoration: none;
}

    #txtEmpty:hover {
        cursor: pointer;
        text-decoration: underline;
    }