@import url(https://fonts.googleapis.com/css?family=Roboto:400,100);


.ForgotPassword-card {
    padding-top: 30px;
    padding-bottom: 5px;
    padding-left: 30px;
    padding-right: 30px;
    width: 274px;
    background: linear-gradient(to bottom, white 85%, #fff4d3 15%);
    margin: 65px auto 10px;
    border-radius: 2px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    overflow: hidden;
}
.ForgotPassword-card h2 {
    font-weight: 100;
    text-align: center;
    font-size: 2.0em;
}
.from-group label {
    font-weight: 100;
    text-align: center;
    font-size: 1em;
}
.Email {
    height: 34px;
    display: block;
    margin-bottom: 10px;
    position: relative;
    height: 44px;
    font-size: 16px;
    width: 100%;
    margin-bottom: 10px;
    background: #fff;
    border: 1px solid #d9d9d9;
    border-top: 1px solid #c0c0c0;
    padding: 0 8px;
    box-sizing: border-box;
}
.from-group input[type=submit] {
    text-align: center;
    font-size: 14px;
    font-family: 'Arial', sans-serif;
    font-weight: 700;
    height: 36px;
    padding: 0 8px;
    
}
.from-group input[type=submit] {
    border: 0px;
    color: #fff;
    text-shadow: 0 1px rgba(0,0,0,0.1);
    background-color: #8a3366;
}

.from-group input[type=submit]:hover {
    border: 0px;
    text-shadow: 0 1px rgba(0,0,0,0.3);
    background-color: #993366;
}