@import url(https://fonts.googleapis.com/css?family=Roboto:400,100);


.login-card {
    padding-top: 30px;
    padding-bottom: 5px;
    padding-left: 30px;
    padding-right: 30px;
    width: 274px;
    background: linear-gradient(to bottom, white 85%, #fff4d3 15%);
    margin: 65px auto 10px;
    border-radius: 2px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    overflow: hidden;
}

.login-card h1 {
    font-weight: 100;
    text-align: center;
    font-size: 2.3em;
}

.login-card input[type=submit] {
    width: 100%;
    display: block;
    margin-bottom: 10px;
    position: relative;
}

.login-card input[type=text], input[type=password] {
    height: 44px;
    font-size: 16px;
    width: 100%;
    margin-bottom: 10px;
    background: #fff;
    border: 1px solid #d9d9d9;
    border-top: 1px solid #c0c0c0;
    /* border-radius: 2px; */
    padding: 0 8px;
    box-sizing: border-box;
}

    .login-card input[type=text]:hover, input[type=password]:hover {
        border: 1px solid #b9b9b9;
        border-top: 1px solid #a0a0a0;
        box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
    }

.login {
    text-align: center;
    font-size: 14px;
    font-family: 'Arial', sans-serif;
    font-weight: 700;
    height: 36px;
    padding: 0 8px;
    /* border-radius: 3px; */
    /* ser-select: none; */
}

.login-submit {
    /* border: 1px solid #3079ed; */
    border: 0px;
    color: #fff;
    text-shadow: 0 1px rgba(0,0,0,0.1);
    background-color: #8a3366;
}

    .login-submit:hover {
        /* border: 1px solid #2f5bb7; */
        border: 0px;
        text-shadow: 0 1px rgba(0,0,0,0.3);
        background-color: #993366;
    }

.login-card a {
    text-decoration: none;
    color: #666;
    font-weight: 400;
    text-align: center;
    display: inline-block;
    opacity: 0.6;
    transition: opacity ease 0.5s;
}

    .login-card a:hover {
        opacity: 1;
    }

.login-help {
    width: 100%;
    text-align: left;
    font-size: 12px;
}

.login-join {
    width: 100%;
    text-align: center;
    font-size: 15px;
    margin-bottom: 15px;
    margin-top: 25px;
}
