/* colors -> https://coolors.co/e54b4b-ebebd3-464655-e4b363-e8e9eb */

@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700');

body {
    background: #d9d9d9;
    font-family: 'Quicksand', sans-serif;
}

.container {
    margin-left: 50px;
    margin-right: 25px;
}

header {
    background: #8a3366;
    color: #FFF;
    padding: 1em 0;
    position: relative;
}

    header::after {
        content: '';
        clear: both;
        display: block;
    }

.logo {
    text-decoration: none;
    float: left;
    font-size: 1.2rem;
    margin: 0;
    color: white;
    text-transform: uppercase;
    font-weight: 700;
}

    .logo span {
        text-decoration: none;
        color: white;
        font-weight: 400;
    }

.site-nav {
    position: absolute;
    top: 100%;
    right: 0%;
    background: #464655;
    -webkit-clip-path: circle(0px at top right);
    clip-path: circle(0px at top right);
    transition: -webkit-clip-path ease-in-out 700ms;
    transition: clip-path ease-in-out 700ms;
    transition: clip-path ease-in-out 700ms, -webkit-clip-path ease-in-out 700ms;
    /*   display: none; */
}

.nav2 {
    background: #993366;
    width: 100%;
    height: 45px;
}

    .nav2 ul {
        text-align: center;
        margin: 0px;
    }

        .nav2 ul li {
            margin-top: 7px;
            display: inline-block;
        }

.site-nav--open {
    -webkit-clip-path: circle(250% at top right);
    clip-path: circle(250% at top right);
    /*   display: block; */
}

.site-nav {
    z-index: 9;
}

    .site-nav ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    .site-nav li {
        border-bottom: 1px solid #575766;
    }

        .site-nav li:last-child {
            border-bottom: none;
        }

    .site-nav a {
        color: #FFF;
        display: block;
        padding: 2em 4em 2em 1.5em;
        text-transform: uppercase;
        text-decoration: none;
    }

        .site-nav a:hover,
        .site-nav a:focus {
            background: #993366;
        }

.site-nav--icon {
    display: inline-block;
    font-size: 1.5em;
    margin-right: 1em;
    width: 1.1em;
    text-align: right;
    color: rgba(255,255,255,.4);
}

.menu-toggle {
    padding: 1em;
    position: absolute;
    top: .5em;
    right: .5em;
    cursor: pointer;
}

.hamburger,
.hamburger::before,
.hamburger::after {
    content: '';
    display: block;
    background: #FFF;
    height: 3px;
    width: 1.75em;
    border-radius: 3px;
    transition: all ease-in-out 500ms;
}

    .hamburger::before {
        -webkit-transform: translateY(-6px);
        transform: translateY(-6px);
    }

    .hamburger::after {
        -webkit-transform: translateY(3px);
        transform: translateY(3px);
    }

.open .hamburger {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

    .open .hamburger::before {
        opacity: 0;
    }

    .open .hamburger::after {
        -webkit-transform: translateY(-3px) rotate(-90deg);
        transform: translateY(-3px) rotate(-90deg);
    }

.searchTerm {
    width: 150px;
    border: 1.5px solid #bf9000;
    padding: 5px;
    height: 20px;
    border-radius: 5px;
    outline: none;
    font-size: 13px;
    color: #9DBFAF;
}

    .searchTerm:focus {
        color: black;
    }

.searchButton {
    width: 40px;
    height: 30px;
    border: 1px solid #bf9000;
    background: #bf9000;
    text-align: center;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    margin-top: 7px;
}

#catSmall {
    display: block;
}

#catBig {
    display: none;
}

.nav3 {
    overflow: hidden;
    background-color: #fff;
}

    .nav3 a {
        float: left;
        padding: 14px 16px;
        text-decoration: none;
        color: black;
    }

.dropdown {
    float: left;
    overflow: hidden;
}

    .dropdown .dropbtn {
        border: none;
        outline: none;
        color: black;
        padding: 14px;
        16px;
        background-color: inherit;
        font-family: inherit;
        margin: 0px 0px 0px 15px;
    }

    .nav3 a:hover, .dropdown:hover .dropbtn {
        background-color: #f9f9f9;
        color: #8a3366;
    }

.dropdown-content {
    margin-left: 15px;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

    .dropdown-content a {
        float: none;
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
    }

        .dropdown-content a:hover {
            background-color: #ddd;
        }

.dropdown:hover .dropdown-content {
    display: block;
}

@media only screen and (min-width: 750px) {

    .menu-toggle {
        display: none;
    }

    .site-nav {
        height: auto;
        position: relative;
        background: transparent;
        float: right;
        -webkit-clip-path: initial;
        clip-path: initial;
    }

        .site-nav li {
            display: inline-block;
            border: none;
        }

        .site-nav a {
            padding: 0;
            margin-left: 3em;
        }

            .site-nav a:hover,
            .site-nav a:focus {
                background: transparent;
                font-weight: 600;
            }

    .site-nav--icon {
        display: none;
    }

    .search {
        width: 100%;
        position: relative
    }

    .searchTerm {
        width: 400px;
        border: 1.5px solid #bf9000;
        padding: 5px;
        height: 20px;
        border-radius: 5px;
        outline: none;
        font-size: 15px;
        color: #9DBFAF;
    }

        .searchTerm:focus {
            color: black;
        }

    .searchButton {
        width: 40px;
        height: 30px;
        border: 1px solid #bf9000;
        background: #bf9000;
        text-align: center;
        color: #fff;
        border-radius: 5px;
        cursor: pointer;
        font-size: 20px;
        margin-top: 7px;
    }

    #catSmall {
        display: none;
    }

    #catBig {
        display: block;
    }
}

@media only screen and (max-width: 420px) {
    .dropdown-content a {
        font-size: 10px;
    }

    .nav3 a {
        font-size: 10px;
    }

    .dropdown .dropbtn {
        font-size: 10px;
    }
}
