@using webtest.Models
@{
    ViewBag.Title = "UserOrderSta";
    Layout = "~/Views/Shared/_customLayout.cshtml";
}
@{
    var UserOrderSta = ViewBag.data;
}
<h2>UserOrderSta</h2>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.bundle.js"></script>


<div class="container">
    <canvas id="UserOrderSta"></canvas>
</div>
<script>
    let UserOrderSta = document.getElementById('UserOrderSta').getContext('2d');

    //Global Options
    Chart.defaults.global.defaultFontFamily = 'lato';
    Chart.defaults.global.defaultFontSize = 18;
    Chart.defaults.global.defaultFontColor = '#777';

    let UserOrderStaChart = new Chart(UserOrderSta, {
        type: 'pie',
        data: {
            labels: ["Unregisterd", "Registerd"],
            datasets: [{
                lable: 'Payed on Website',
                data: [@UserOrderSta[0], @UserOrderSta[1] ],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.6)',
                    'rgba(54, 162, 235, 0.6)'
                ],
                borderColor: '#777',
                borderWidth: 1
            }]
        },
        options: {
            title: {
                display: true,
                text: 'Amount money payed by each type user',
                fontSize: 25
            },
            legend: {
                position: 'right',
                labels: {
                    fontColor: '#000'
                }

            },
            layout: {
                padding: {
                    left: 50,
                    right: 0,
                    bottom:0,
                }
            },
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    });
</script>