
@{
    ViewBag.Title = "ForgotPassword";
    Layout = "~/Views/Shared/_customLayout.cshtml";
}

<h2>Forgot Password</h2>

@using (Html.BeginForm())
{
    <div class="from-horizontal">
        <hr /> 
        <div class="text-success">
            @ViewBag.Message
        </div>
        <div class=" from-group">
            <label class=" control-label col-md-2">Email</label>
            @Html.TextBox("Email", "", new { @class= "from-control" })
        </div>
        <div class=" from-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value=" Submit" class=" btn btn-success"/>

            </div>

        </div>
    </div>
}