
@{
    ViewBag.Title = "ForgotPassword";
    Layout = "~/Views/Shared/_customLayout.cshtml";
}

<head>
    <link href="~/Content/ForgotPassword.css" rel="stylesheet" />
</head>
<div class=" ForgotPassword-card">
    <h2>Forgot password</h2>

    @using (Html.BeginForm())
    {
        <div class="from-horizontal">
            <div class="text-success">
                @ViewBag.Message
            </div>
            <div class=" from-group">
                <label class=" control-label col-md-2">Please insert your email address.</label>
                @Html.TextBox("Email", "", new { @class = "from-control, Email", placeholder = "Email" })
            </div>
            <div class=" from-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value=" Send" class=" btn" />

                </div>

            </div>
        </div>
    }
    </div>
