@{
    ViewBag.Title = "VerifyAccount";
    Layout = "~/Views/Shared/_customLayout.cshtml";
}

<head>
    <link href="~/Content/ResetPassword.css" rel="stylesheet" />
</head>

<div class="ResetPassword-card">
    <h2>Verify account</h2>

    @if (ViewBag.Status != null && Convert.ToBoolean(ViewBag.Status))
    {
        <div class="alert alert-success">
            Your account has been successfully created. Click here to @Html.ActionLink("Login", "Index", "Login")

        </div>

    }
    else
    {
        <div class="alert alert-danger">
            <strong>Something went wrong. </strong>@ViewBag.Message
        </div>
    }
</div>