@*@model webtest.Models.Book*@
@using PagedList;
@using PagedList.Mvc;
@model List<webtest.Models.Book>

@{
    ViewBag.Title = "ShoppingCart";
    Layout = "~/Views/Shared/_customLayout.cshtml";
}

<head>
    <link href="~/Content/ShoppingCart.css" rel="stylesheet" />
</head>

<div id="container">
    <div id="results">

        <img id="stripe" src="~/Content/Images/stripe.png" />

        <!-- SHOW PRODUCTS-->
        <!-- Check of er producten zijn gevonden-->
        @if (Model.Count == 0)
        {
            <text> No products in the shopping cart yet.</text>
        }
        <!-- ForEachLoop door alle producten die zijn opgehaald uit de database.-->
        <!-- Elke product krijgt dezelfde opmaak in <div id="procuct"> ..... </div> -->
        <!-- Alle waardes worden opgehaald uit de database en ingevuld op de juiste plekken -->
        @foreach (var m in Model)
        {
            <!-- De ForEachLoop zorgt ervoor dat alle producten met verschillende waardes en dezelfde opmaak onder elkaar worden geplaatst.-->
            <div id="product">
                <img id="productImg" src="@m.Image_src" />
                <label id="price">€@m.Price</label>
                <label id="title">@m.Name</label>
                <!-- Change to author-->
                <label id="author">@m.Author</label>
            </div>
            <a href="@Url.Action("ShoppingCart", "Home", new {delete = m.ISBN})" id="deleteButton">Delete Product</a>
            <img id="stripe" src="~/Content/Images/stripe.png" />
        }
    </div>

    <div id="checkout">
        <label id="payment">Payment</label>
        <label id="delivery">Delivery</label>
        <label id="totalPrice">Total Price</label>
    </div>
</div>

