
@using PagedList;
@using PagedList.Mvc;
@model List<webtest.Models.Order>
@using webtest.Models;
@{
    ViewBag.Title = "OrderHistory";
    Layout = "~/Views/Shared/_customLayout.cshtml";
    <head>
        <link href="~/Content/OrderHistory.css" rel="stylesheet" />
    </head>
}

<h2>OrderHistory</h2>

<div id="container">
    <div id="results">

        <img id="stripe" src="~/Content/Images/stripe.png" />

        <!-- SHOW ORDERS-->
        <!-- Check of er ORDERS zijn gevonden-->
        @if (Model.Count == 0)
        {
            <text> You haven't done any orders yet</text>
        }
        <body style="text-align:center;">
            <table align="center">
                <tr>
                    <th>Order Number</th>
                    <th>Order status</th>
                    <th>Order Date</th>
                    <th>Order Details</th>
                </tr>
                @foreach (var m in Model)
                {
                    string Orderstatus = "";
                    DateTime Orderdate = m.OrderDate;
                    DateTime Today = DateTime.Today;
                    if (Orderdate.AddDays(1) > Today) { Orderstatus = "Pending"; }
                    else if (Orderdate.AddDays(2) > Today && Orderdate.AddDays(1) < Today) { Orderstatus = "Item received by courier"; }
                    else if (Orderdate.AddDays(3)< Today) { Orderstatus = "Delivered"; }

                <tr>
                    <td>@m.Order_Number</td>
                    <td>@Orderstatus</td>
                    <td>@m.OrderDate</td>
                    <td>@Html.ActionLink("Order details", "OrderDetails", new { id = m.Order_Number, style = "color:Blue" }, null)</td>
                </tr>
                }
            </table>
            </body>
</div>
    </div>

